.clients {
    background: url(https://www.smartertravel.com/uploads/2018/03/washington-dc-panorama-hero-1400x500.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 29.25%;
    opacity: .6;
}

.logo-display p {
    color: black
}


/* Desktops and laptops - nice effect ----------- */
@media only screen  and (min-width : 1100px) {
    .logo-display {
    filter: grayscale();
}

.logo-display:hover {
    filter: none;
}

.logo-display .underLine {
    text-decoration: none;
    border: 5px solid transparent;
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    position: relative;
}

.underLine::after {
    width: 0%;
    height: 1px;
    display: block;
    background-color: #93111e;
    content: "";
    position: absolute;
    top: 34px;
    left: 50%;
    transition: left 0.4s cubic-bezier(0.215, 0.610, 0.355 ,1),
                width 0.4s cubic-bezier(0.215, 0.610, 0.355, 1)
}

.logo-display:hover .underLine::after {
    width: 100%;
    top: 34px;
    left: 0;
}
}