.fromTheCEO {
    background: url(https://www.smartertravel.com/uploads/2018/03/washington-dc-panorama-hero-1400x500.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 29.25%;
    opacity: .6;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .aboutUs-sections {
        padding-top: 35px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .aboutUs-sections {
        padding-top: 65px; 
    }
}