.fromTheCEO {
    background: url(https://www.smartertravel.com/uploads/2018/03/washington-dc-panorama-hero-1400x500.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 29.25%;
    opacity: .6;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}