.carousel-item {
    height: 100vh;
    position: relative;
    width: 100%;
}

.carousel-item img {
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    filter: grayscale();
} 

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .carousel-item {
        height: 100%;
    }      
}

@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .carousel-item {
        height: 100%;
    }   
}

