.img1 {
    background: url(../../../images/hill.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.display2 {
    background: url(../../../images/hill.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.display2 {
    background: url(../../../images/hill.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}



.textCenterBox {
    background-color: rgba(209, 121, 121, 0.7);
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0.8;
    background-repeat: no-repeat;
    margin: 0 auto;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50% );
    z-index: 5;
}

