.Home {
    /* background: url(../../../images/hill1.png) no-repeat center center; */
    /* background-size: cover; */
    /* height: 100vh; */
    width: 100%;
    /* background-color: rgba(161, 209, 161, 0.481);  */
}

.textCenterBox {
    background-color: rgba(255, 255, 255, 0.733);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .textCenterBox {
        width: 65%!important;
        top: 18%;
    }
    #homeText  {
        font-size: 1.2rem!important;
    }
    .lead {
        font-size: 0.8rem;
    } 
    .button_section button {
       font-size: 0.7rem;
       padding: 4px;
    }
    /* for <h1> in all the pages */
    .display-4 {
        font-size: 1.9rem;
    }     
}

@media only screen and (min-device-width : 481px) and (max-device-width : 765px) {
    .textCenterBox {
        width: 350px;
        top: 30%!important;
    }
    #homeText {
        font-size: 1.8rem;
    }
    .lead {
        font-size: 0.8rem;
    }
    /* for <h1> in all the pages */
    .display-4 {
        font-size: 2rem;
    }  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .textCenterBox {
        width: 400px;
        top: 25%;
    }
    #homeText  {
        font-size: 1.8rem;
    }
    .lead {
        font-size: 0.8rem;
    }
    /* for <h1> in all the pages */
    .display-4 {
        font-size: 2.1rem;
    }  
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1023px) and (max-device-width : 1823px) {
    .textCenterBox {
        width: 550px;
    }
    #homeText {
        font-size: 2.6rem;
    }
    .lead {
        font-size: 0.9rem;
    }
    /* for <h1> in all the pages */
    .display-4 {
        font-size: 2rem;
    }  
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .textCenterBox {
        width: 650px;
    }
    #homeText {
        font-size: 3rem;
    }
    .lead {
        font-size: 0.9rem;
    }
    /* for <h1> in all the pages */
    .display-4 {
        font-size: 2.5rem;
    }  
}