.HomeSolutions .HS-container {
    background: url("../../../images/bulb.svg") no-repeat center right;
    background-size: contain;
    height: 40vh;
}

.wave {
    background: url("../../../images/wave.svg") no-repeat center right;
    background-size: cover;
}